@import "reset.css";
@import "./style/clock.css";
@import "./style/status.css";
@import "./style/todo.css";

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #222f3e;
  background-size: cover;
  z-index: -1;
}

.momentumConatainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameForm,
.greeting {
  display: none;
}

.hide {
  display: none;
}

.view {
  display: block;
}
