.toDoForm {
  width: 100%;
}

.toDoInput {
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.toDoInput::placeholder {
  color: #ffffff;
}

.toDoList {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
